html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    padding: 30px 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    min-width: 492px;
}

.menu-link::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    margin: auto;
    width: 100%;
    height: 3px;
    margin-top: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}

.menu-link:hover::after {
    opacity: 1;
    visibility: visible;
}

.menu-link:hover {
    color: rgb(243, 129, 129);
}

.menu-link {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgb(149, 225, 211);
}

/* services*/

.services {
    padding-top: 98px;
    padding-bottom: 90px;
}

.section-title {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 24px;
    color: rgb(51, 51, 51);
    line-height: 29px;
    text-align: center;
    margin-bottom: 66px;
}

.section-title span {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    display: block;
}

.section-title::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    margin: auto;
    width: 60px;
    height: 3px;
    margin-top: 40px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-item {
    position: relative;
    width: 334px;
    padding-left: 64px;
}

.services-item::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.services-item:nth-child(1)::before {
    background-image: url(../img/ALARM.png);
}

.services-item:nth-child(2)::before {
    background-image: url(../img/LINE\ GRAPH.png);
}

.services-item:nth-child(3)::before {
    background-image: url(../img/COMPUTER\ _\ OK.png);
}

.services-item:nth-child(4)::before {
    background-image: url(../img/BOOK\ 2.png);
}

.services-item:nth-child(5)::before {
    background-image: url(../img/HOME.png);
}

.services-item:nth-child(6)::before {
    background-image: url(../img/IMAGE.png);
}

.services-item:nth-of-type(-n+3) {
    margin-bottom: 100px;
}

.services-title {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.services-content {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
}

/*team*/

.team {
    padding-bottom: 82px;
}

.team-content {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    margin-bottom: 94px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.over-img {
    position: relative;
    margin-bottom: 30px;
    transition: all 0.2s linear;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
    box-shadow: 10px 10px 0 rgb(149, 225, 211);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}

.overlay-list {
    display: flex;
}

.team-member {
    width: 382px;
}

.team-member:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay-list-item {
    background-color: rgb(252, 227, 138);
    transition: all 0.2s linear;
}

.overlay-list-item:not(:last-of-type) {
    border-right: 1px solid rgba(243, 129, 129, 0.5);
}

.overlay-list-item:nth-of-type(1) .overlay-list-link {
    background-image: url(../img/facebook.png);
}

.overlay-list-item:nth-of-type(2) .overlay-list-link {
    background-image: url(../img/twitter.png);
}

.overlay-list-item:nth-of-type(3) .overlay-list-link {
    background-image: url(../img/pinterest.png);
}

.overlay-list-item:nth-of-type(4) .overlay-list-link {
    background-image: url(../img/instagram.png);
}

.overlay-list-link {
    display: block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay-list-item:hover {
    background-color: rgb(149, 225, 211);
}

.team-member:hover .over-img {
    transform: translate(-10px, -10px);
}

.member-name {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
}

.member-position {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 24px;
    text-align: center;
}

/* footer*/

.main-footer {
    border-top: 1px solid rgb(229, 229, 229);
    padding: 12px 0;
}

.footer-content {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.footer-company {
    color: rgb(243, 129, 129);
    display: inline-block;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
}

input[type="email"] {
    display: block;
    height: 40px;
    width: 230px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    font-style: italic;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
}

input[type="email"] ::placeholder {
    color:  rgb(204, 204, 204);
}

input[type="submit"] {
    display: block;
    height: 40px;
    width: 150px;
    background-color: rgb(149, 225, 211);
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: pointer;
}