@font-face {
    font-family: "MontserratR";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url(../fonts/montserrat/montserrat-v14-latin-regular.woff2) format('woff2'),
        url(../fonts/montserrat/montserrat-v14-latin-regular.woff) format('woff');
}

@font-face {
    font-family: "MontserratB";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
        url(../fonts/montserrat/montserrat-v14-latin-700.woff2) format('woff2'),
        url(../fonts/montserrat/montserrat-v14-latin-700.woff) format('woff');
}

@font-face {
    font-family: "RobotoL";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"),
        url(../fonts/roboto/roboto-v20-latin-300.woff2) format('woff2'),
        url(../fonts/roboto/roboto-v20-latin-300.woff) format('woff');
}

@font-face {
    font-family: "RobotoR";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url(../fonts/roboto/roboto-v20-latin-regular.woff2) format('woff2'),
        url(../fonts/roboto/roboto-v20-latin-regular.woff) format('woff');
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

/*header*/

.main-header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    padding-top: 1.25rem;
}

.site-logo-header {
    display: none;
}

.container {
    width: 18.75rem;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-item {
    padding: 0.5rem 1.125rem;
    border: 2px solid transparent;
    border-radius: 1.25rem;
}

.menu-link {
    display: block;
    font-family: "MontserratB", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    line-height: 1.0625rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-item:hover {
    border: 2px solid rgb(255, 255, 255);
}

.logo-img {
    margin: auto;
}

/*banner*/

.banner {
    background-image: url(../img/Vector\ Smart\ Object.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(26, 25, 21);
    padding-top: 50%;
    padding-bottom: 8.625rem;
}

.site-logo-banner {
    margin-bottom: 2.5rem;
}

.banner-title {
    margin: 0;
    font-size: 1.875rem;
    font-family: "MontserratB", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 2.25rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.banner-content {
    width: 70%;
    margin: auto;
    font-size: 1.125rem;
    font-family: "RobotoL", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.375rem;
    text-align: center;
    margin-bottom: 1.125rem;
}

.site-button {
    display: block;
    width: 17.5rem;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 1.25rem;
    font-size: 0.875rem;
    font-family: "MontserratB", sans-serif;
    color: rgb(255, 78, 80);
    line-height: 2.5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.site-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 80);
}

/*partners*/

.partners {
    padding: 4.375rem 0 3.5rem 0;
}

.section-title {
    font-size: 1.375rem;
    font-family: "MontserratB", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.625rem;
    text-align: center;
    margin-bottom: 1.125rem;
}

.section-subtitle {
    font-size: 0.875rem;
    font-family: "MontserratB", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.0625rem;
    text-align: center;
    margin-bottom: 0.875rem;
}

.partners-list-item {
    width: 14.125rem;
    margin: auto;
    margin-bottom: 1.75rem;
}

.partners-list-item-content {
    font-size: 0.875rem;
    font-family: "RobotoL", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.0625rem;
    text-align: center;
}

.photo-wrapper {
    position: relative;
    width: 7.5rem;
    margin: auto;
    margin-bottom: 1.125rem;
}

.photo-wrapper::before {
    position: absolute;
    display: block;
    content: "";
    right: 0;
    bottom: 0;
    width: 2.3125rem;
    height: 2.3125rem;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.partners-list-item:nth-child(1) .photo-wrapper::before {
    background-image: url(../img/Shape1.png);
    background-color: rgb(255, 78, 80);
}

.partners-list-item:nth-child(2) .photo-wrapper::before {
    background-image: url(../img/Shape2.png);
    background-color: rgb(255, 165, 7);
}

.partners-list-item:nth-child(3) .photo-wrapper::before {
    background-image: url(../img/Shape3.png);
    background-color: rgb(28, 215, 173);
}

.partners-list-item:nth-child(4) .photo-wrapper::before {
    background-image: url(../img/Shape4.png);
    background-color: rgb(78, 115, 219);
}

@media (min-width:768px) {

    /*header*/

    .container {
        width: 31.5rem;
    }

    .site-logo-header {
        display: block;
    }

    .main-header {
        padding-top: 2.375rem;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5rem;
    }

    /*banner*/

    .banner {
        padding-top: 35%;
        padding-bottom: 14.625rem;
    }

    .site-logo-banner {
        display: none;
    }

    .banner-title {
        font-size: 3.25rem;
        line-height: 3.875rem;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }

    .banner-content {
        font-size: 1.5rem;
        line-height: 1.8125rem;
        margin-bottom: 2.125rem;
    }

    .site-button {
        width: 14.125rem;
    }

    /*partners*/

    .partners {
        padding-top: 3.5rem;
    }

    .section-title {
        margin-bottom: 1.875rem;
    }

    .partners-list-item {
        width: 13.75rem;
        margin-bottom: 0;
        margin: 0;
    }

    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2.375rem;
    }

    .partners-list-item:nth-of-type(2n) {
        order: 1;
    }

    .partners-list-item:nth-of-type(odd) {
        margin-bottom: 3.5rem;
    }

}

@media (min-width:1440px) {

    /*header*/

    .container {
        width: 58.75rem;
    }

    .main-nav {
        width: 58.75rem;
        padding: 0;
        margin: auto;
    }

    /*banner*/

    .banner {
        padding-top: 16%;
    }

    .banner-title {
        width: 66%;
    }

    /*partners*/

    .partners {
        padding: 4.375rem 0;
    }

    .partners-list-item:nth-of-type(odd) {
        margin-bottom: 0;
    }

    .partners-list-item:not(:last-of-type) {
        margin-right: 1.25rem;
    }

}