$font-primary-regular: "MontserratR", sans-serif;
$font-primary-bold: "MontserratB", sans-serif;
$font-secondary-regular: "RobotoR", sans-serif;
$font-secondary-italic: "RobotoLI", sans-serif;
$font-tertialy: "Kaushan Script", sans-serif;

$primary-dark-coor: rgb(51, 51, 51);
$secondary-dark-color: rgb(153, 153, 153);
$main-white-color: rgb(255, 255, 255);
$primary-accent-color:rgb(252, 227, 138);
$secondary-accent-color: rgb(243, 129, 129);
$tertialy-accent-color: rgb(149, 225, 211);
$primary-border-color: rgb(229, 229, 229);
$secondary-border-color: rgb(231, 231, 231);
$input-color: rgb(204, 204, 204);

$primary-font-size: 14px;
$primary-line-height: 17px;

$secondary-font-size: 15px;
$secondary-line-height: 24px;

$transition: all 0.2s linear;

$gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));


