@font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: local("Kaushan Script"), local("KaushanScript-Regular"),
        url(../fonts/kaushan/kaushanregular.woff2) format('woff2'),
        url(../fonts/kaushan/kaushanregular.woff) format('woff');
}

@font-face {
    font-family: "RobotoI";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
        url(../fonts/roboto/roboto300italic.woff2) format('woff2'),
        url(../fonts/roboto/roboto300italic.woff) format('woff');
}

@font-face {
    font-family: "RobotoR";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url(../fonts/roboto/robotoregular.woff2) format('woff2'),
        url(../fonts/roboto/robotoregular.woff) format('woff');
}

@font-face {
    font-family: "MontserratR";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url(../fonts/montserrat/montserratregular.woff2) format('woff2'),
        url(../fonts/montserrat/montserratregular.woff) format('woff');
}

@font-face {
    font-family: "MontserratB";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
        url(../fonts/montserrat/montserrat700.woff2) format('woff2'),
        url(../fonts/montserrat/montserrat700.woff) format('woff');
}


html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

/*header*/

.container {
    width: 75rem;
    margin: 0 auto;
}

.page-header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 1.875rem 0;
}

.page-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-logo {
    font-size: 1.875rem;
    font-family: "MontserratB";
    color: rgb(255, 255, 255);
    line-height: 2.25rem;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 39.375rem;
}

.menu__link::after {
    content: "";
    display: block;
    background-color: rgb(252, 227, 138);
    margin: auto;
    width: 100%;
    height: 3px;
    margin-top: 0.75rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.menu__link:hover::after {
    opacity: 1;
    visibility: visible;
}

.menu__link:hover {
    color: rgb(252, 227, 138);
}

.menu__link {
    font-family: "MontserratR";
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.menu__svg {
    width: 1.125rem;
    height: 0.9375rem;
    fill: rgb(255, 255, 255);
}

.menu__item:hover .menu__svg {
    fill: rgb(252, 227, 138);
}

/*banner*/

.banner {
    background-image: url(../img/banner@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 14.375rem;
}

.banner__title span {
    display: block;
    font-size: 4.5rem;
    font-family: "Kaushan Script";
    color: rgb(255, 255, 255);
    line-height: 5.375rem;
    text-transform: none;
    margin-bottom: 3.75rem;

}

.banner__title {
    font-size: 9.375rem;
    font-family: "MontserratB";
    color: rgb(255, 255, 255);
    line-height: 8.6875rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 51.375rem;
    margin-bottom: 7.75rem;
}

.banner__button {
    font-size: 0.875rem;
    font-family: "MontserratB";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    line-height: 2.125rem;
    border: 3px solid rgb(255, 255, 255);
    width: 9.875rem;
    height: 2.375rem;
    margin: auto;
}

/*services*/

.services {
    padding-top: 6.125rem;
    padding-bottom: 5.625rem;
}

.section-title {
    font-family: "Kaushan Script";
    font-size: 1.5rem;
    color: rgb(51, 51, 51);
    line-height: 1.8125rem;
    text-align: center;
    margin-bottom: 3.75rem;
}

.section-title span {
    font-family: "MontserratB";
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    display: block;
    margin-top: 1.375rem;
}

.section-title::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    margin: auto;
    width: 3.75rem;
    height: 3px;
    margin-top: 2.5rem;
}

.services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.services__list-item {
    position: relative;
    width: 20.875rem;
    padding-left: 4rem;
}

.services__list-item::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
}

.services__list-item:nth-child(1)::before {
    background-image: url(../img/alarm.svg);
}

.services__list-item:nth-child(2)::before {
    background-image: url(../img/graph.svg);
}

.services__list-item:nth-child(3)::before {
    background-image: url(../img/computer.svg);
}

.services__list-item:nth-child(4)::before {
    background-image: url(../img/book.svg);
}

.services__list-item:nth-child(5)::before {
    background-image: url(../img/home.svg);
}

.services__list-item:nth-child(6)::before {
    background-image: url(../img/digital.svg);
}

.services__list-item:nth-of-type(-n+3) {
    margin-bottom: 6.25rem;
}

.services__list-item-title {
    font-family: "MontserratR";
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.services__list-item-content {
    font-family: "RobotoR";
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: rgb(153, 153, 153);
}

/*team*/

.team {
    padding-bottom: 5.125rem;
}

.team__description {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-family: "RobotoR";
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: rgb(153, 153, 153);
    margin-bottom: 5.875rem;
}

.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.wrapper {
    position: relative;
    margin-bottom: 1.875rem;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
    -webkit-box-shadow: 0.625rem 0.625rem 0 rgb(149, 225, 211);
            box-shadow: 0.625rem 0.625rem 0 rgb(149, 225, 211);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.overlay__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.team__list-item {
    width: 23.875rem;
}

.team__list-item:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay__list-item {
    background-color: rgb(252, 227, 138);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.overlay__list-item:not(:last-of-type) {
    border-right: 1px solid rgba(243, 129, 129, 0.5);
}

.overlay__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 3.5rem;
    height: 3.5rem;
}

.overlay__svg {
    width: 1.625rem;
    height: 1.625rem;
    fill: rgb(243, 129, 129);
    -webkit-transition: fill 0.2s linear;
    -o-transition: fill 0.2s linear;
    transition: fill 0.2s linear;
}

.overlay__list-item:hover .overlay__svg {
    fill: rgb(255, 255, 255);
}

.overlay__list-item:hover {
    background-color: rgb(243, 129, 129);
}

.team__list-item:hover .wrapper {
    -webkit-transform: translate(-0.625rem, -0.625rem);
        -ms-transform: translate(-0.625rem, -0.625rem);
            transform: translate(-0.625rem, -0.625rem);
}

.team__list-item-name {
    font-family: "MontserratR";
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.team__list-item-position {
    font-family: "RobotoI";
    font-style: italic;
    font-weight: 400;
    font-size: 0.9375rem;
    color: rgb(153, 153, 153);
    line-height: 1.5rem;
    text-align: center;
}

/* footer*/

.page-footer {
    border-top: 1px solid rgb(229, 229, 229);
    padding: 0.75rem 0;
}

.pafe-footer__content {
    font-family: "MontserratR";
    font-size: 0.875rem;
    color: rgb(51, 51, 51);
}

.page-footer__company {
    color: rgb(243, 129, 129);
    display: inline-block;
}

.page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

input[type="email"] {
    display: block;
    height: 2.5rem;
    width: 14.375rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: "RobotoI";
    color: rgb(51, 51, 51);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    padding-left: 0.75rem;
}

input[type="email"] ::-webkit-input-placeholder {
    color: rgb(204, 204, 204);
}

input[type="email"] ::-moz-placeholder {
    color: rgb(204, 204, 204);
}

input[type="email"] :-ms-input-placeholder {
    color: rgb(204, 204, 204);
}

input[type="email"] ::-ms-input-placeholder {
    color: rgb(204, 204, 204);
}

input[type="email"] ::placeholder {
    color: rgb(204, 204, 204);
}

input[type="submit"] {
    display: block;
    height: 2.5rem;
    width: 9.375rem;
    background-color: rgb(149, 225, 211);
    font-size: 0.875rem;
    line-height: 1.0625rem;
    font-family: "MontserratB";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: pointer;
}

/*media*/

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .banner {
        background-image: url(../img/banner@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}